#cuerpo {
    background-color: rgb(226, 214, 214);
}

h1 {
    font-family: Cambria;
}

h2 {
    font-family: Cambria;
}


#pie1 {
    font-family: poppin;
}

#pie2 {
    font-family: poppin;
}


* {
    margin: 0px;
    padding: 0px;
    font-family: poppin;
}

footer {
    width: 100%;
    background: #202020;
    color: white;

}

.container-footer-all {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    padding: 40px;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.colum1 {
    max-width: 400px;
}

.colum1 h1 {
    font-size: 22px;
}

.colum1 p {
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2 {
    max-width: 400px;

}

.colum2 h1 {
    font-size: 22px;
}

.row {
    margin-top: 20px;
    display: flex;
}

.row img {
    width: 15%;
    
}

.row label {
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3 {
    max-width: 400px;
}

.colum3 h1 {
    font-size: 22px;
}

.row2 {
    margin-top: 20px;
    display: flex;
}

.row2 img {
    width: 36px;
    height: 36px;
}

.row2 label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer {
    width: 100%;
    background: #101010;
}

.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}



@media screen and (max-width: 1100px) {

    .container-body {
        flex-wrap: wrap;
    }

    .colum1 {
        max-width: 100%;
    }

    .colum2,
    .colum3 {
        margin-top: 40px;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.send-button{
    background: #54C7C3;
    width:100%;
    font-weight: 600;
    color:#fff;
    padding: 8px 25px;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }
    .g-button{
    color: #fff !important;
    border: 1px solid #EA4335;
    background: #ea4335 !important;
    width:100%;
    font-weight: 600;
    color:#fff;
    padding: 8px 25px;
    }
    .my-input{
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: text;
    padding: 8px 10px;
    transition: border .1s linear;
    }
    .header-title{
    margin: 5rem 0;
    }
    h1{
    font-size: 31px;
    line-height: 40px;
    font-weight: 600;
    color:#4c5357;
    }
    h2{
    color: #5e8396;
    font-size: 21px;
    line-height: 32px;
    font-weight: 400;
    }
    .login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
    }
    .hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    }
    @media screen and (max-width:480px){
    h1{
    font-size: 26px;
    }
    h2{
    font-size: 20px;
    }
    }